.toggle-button {
    background-color: hashtag#128C7E;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
   }
   
   .toggle-button:hover {
    background-color: hashtag#075E54;
   }