body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  background-color: #f0f0f0;
}

#token-request label {
  margin-left: 13%;
  width: 70%;
  text-align: center;
  font-weight: bold;
  font-size: 175%;
  margin-top: 15%;
}

#token-request img {
  width: 57%;
  margin-left: 17%;
  margin-top: 18%;
}

#logo-bot {
  width: 46%;
}

#token-input {
  padding: 4%;
  height: 23px;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 6% 0 4% 0;
}

#submit-token {
  font-size: 16px;
  font-weight: bold;
  background-color: #751DCA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
}

.switch, 
.switch2 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-bottom: 12%;
}

.switch input, 
.switch2 input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider,
.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999999;
  /* Cor quando OFF */
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before, 
.slider2::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #28C76F;
  /* Cor quando ON */
}

input:checked+.slider2 {
  background-color: #A14FFF;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

input:checked+.slider2:before {
  transform: translateX(26px);
}

#submit-token:hover,
#toggle-button:hover, 
#toggle-button2:hover {
  background-color: #511788;
}

#token-request {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#status-indicator {
  margin-left: 35%;
  width: 70%;
  font-size: 82%;
  font-weight: bold;
  margin-bottom: 4%;
}

#chat-info {
  margin-bottom: 8px;
  /* grid-template-columns: 16% 79% 5%; */
  align-items: center;
}

#chat-info p {
  margin: 5px 0;
  font-size: 86%;
}

#chat-info a {
  text-decoration: none;
  font-size: 86%;
}

.error-message {
  color: red;
  margin-top: 5px;
  display: none;
  /* Inicialmente escondido */
}

#HR, #Hr, #hr {
  display: block;
  /* border-color: white; */
  border: 1px solid gainsboro;
}

#pBot, #pBot2 {
  margin-top: -16%;
  margin-left: 13%;
}

#img, #img2, #img3 {
  width: 18%;
  height: 51px;
}

.DT {
  display: flex;
  align-items: center;
  margin: -2% auto -4% 0%;
}

.hora{
  margin-left: 3%;
}

.CItens {
  margin-bottom: 3%;
} 

.dadosIMG {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -11%;
}